#main-content-header{
    display: none;
}
#main-div{
    width:100%;
    height: 90%;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-left: -9%;
}
.left_div{
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 6px;
    margin-left: 4%;
}
.right_div{
    margin-left: -2%;
    width: 100%;
    height: auto;
}
.at-mt .at-menu-toggle, .at-mt .at-menu-toggle ul, .at-mt .at-menu-toggle ul.menu{
    display: flex;
    flex-direction: column;
    text-align: end;
    line-height: 2.2;
}
#site-slogan{
    opacity: 0.4;
    font-style: italic;
    font-family: "Times New Roman";
    padding-left: 130px;
}
#first-time{
    display: none;
}
footer div div .block{
    text-align: end;
    padding-right: 10%;
    height: 10px;
}
footer div div .block{
    margin-bottom: 20px;
}
#block-block-1 img{
    max-width: 125% !important;
}