/* Add any valid CSS declarations */
.nav li a, .nav ul.menu li a {
    font-size: 18px;
    border-right: 1px solid black;
}

.at-mt .at-menu-toggle, .at-mt .at-menu-toggle ul, .at-mt .at-menu-toggle ul.menu {
float: right;
}